body {
    background-color: #ff69b4;
    color: #ffe2f2;
    font-family: "Archivo Black", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}

button {
    color: #ffa8d8;
    border-color: #ff69b4;
    font-family: "Archivo Black", sans-serif;
    background-color: #f81e8b;
}